<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> MJ SAGA</a>
    <br>
    <br>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav link_items">
        <!-- <a class="links" aria-current="page" href="/">HOME</a> -->
        <a class="links" href="/home">HOT GOSSIPS</a>
        <br>
        <a class="links" href="/about">ABOUT US</a>
        <br>
        <a class="links" href="/contact">CONTACT US</a>
        <br>
        <a class="links" href="/compose">COMPOSE</a>
       
      </div>
    </div>
  </div>
</nav>